<link rel="stylesheet" href="~/css/slick.css"/>

<div class="container mt-3">

    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label  class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
            <input type="search" placeholder="Search Anything"  class="form-control">
        </div>
        
    </div>

</div>
<div id="banner_part">

     <div class="banner_item" style="background: url('@Url.Content("/images/banner2.jpg.jpg")');">
    </div>
</div>


<script src="~/js/slick.min.js"></script>
<script src="~/js/scripts.js"></script>